    <!-- About Section -->
    <section id="about">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About</h2>
              <br/>
                <p>RAMSADA.io is a Landing-Page site for personal use and learning. Feel free to get in touch with me. </p>
                <p>Following are some of the projects that I am currently working on</p>
                <br/>
              </div>
        </div>
	<div class="about">
		<div class="container">

			<div class="row">
				
			</div>

		</div>
		<!-- /.container -->

	</div>
    </section>
